node_modules

# Unrelated/Unimportant
others
test

# Sensitive
.env
# api/credentials.json
# api/token.json
# classes/gclass.md
# commands/classroom.js
# json/describe.json
# json/test.json
# json/sectionRoles.json
# json/roles.json
scripts/gTest.js

*.key
*.cert
*.crt
*.pem
*.csr
*.todo