node_modules

# Unrelated/Unimportant
others

# Sensitive
.env
secret.json
token.json
# api/credentials.json
# api/token.json
# classes/gclass.md
# commands/classroom.js
# json/describe.json
# json/test.json
# json/sectionRoles.json
# json/roles.json
# scripts/gTest.js